*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Metals
.metals/
.bloop/
.ammonite/
metals.sbt

# IntelliJ IDEA
.idea/
.bsp/

# Visual Studio Code settings
.vscode/

# target
target/

# ScalaJS
./server/target

# Excluding/including specific files in the project directory
./project/*
!./project/build.properties
!./project/plugins.sbt

# Application
./app/target
