.nav-link {
    /* padding: 20px; */
    color: green;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    /* padding: 20px; */
}

.header-nav {
    margin-left: auto;
}

.header-links {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 10px;
    list-style: none;
}

.home-logo {
    width: 50px;
    height: 50px;
}